.backgroundHijackContainer{
    width:100%;
    position:relative;
}

.backgroundHijackBackground{
    /* position:-webkit-sticky;
    position:sticky; */
    top:0;
    height:50vh;
    width:100%;
}

.backgroundHijackForeground{
    position:absolute;
    top:0;
    width:100%;
}