
.backgroundColorChangeContent{
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
}

.backgroundColorChangeContainer{
    width:200%;
    height:200%;
}

.backgroundColorChangeCircleContainer{
    width:100%;
    height:100%;
    position:relative;
}

.backgroundColorChangeCircle{
    border-radius: 50%;
    background-color:red;
    position:absolute;
}