.foregroundHijackContainer{
    width:100%;
    position:relative;
}

.foregroundHijackForeground{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    height:50vh; /*palceholder value*/
    width:100%;
}

.foregroundHijackBackground{
    position:absolute;
    top:0;
    width:100%;
}