/* Global styles for UX Effects components */

:root {
  /* Add your CSS variables here */
  --ux-duration-fast: 200ms;
  --ux-duration-normal: 350ms;
  --ux-duration-slow: 500ms;
  --ux-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
}