body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contentContainer{
  height:50vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:white;
}

.zoomContent{
  height:300vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:black;
  color:white
}

.hijackContentExample{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.hijackContent{
  background-color:lightgray;
}
