.hijackContainer{
    width:100%;
    position:relative
}

.hijackForeground{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    height:50vh;
    width:100%;
}

.hijackBackground{
    position:absolute;
    top:0;
    width:100%;
}