/* Styles for the Zoom component */
.zoomContainer{
    position:relative;
    height:600vh;
    width:100%;
    display:flex;
    flex-direction: column;
    background:var(--Darks-Dark);
}

.zoomContent{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    height:100vh;
    width:100%;
}

.zoomImages{
    width:100%;
}

.entireImage{
    width:100%;
    height:100vh;
    position:absolute;
    background-position: center;
    background-size:cover;
    top:0;
    opacity:1;
}

.holeImage{
    width:100%;
    height:100vh;
    position:absolute;
    background-position: center;
    background-size:cover;
    top:0;
}