/* Styles for the Zoom component */
.zoomContainer{
    top:0;
}


.zoomImages{
    width:100%;
}

.entireImage{
    width:100%;
    height:100vh;
    position:absolute;
    background-position: center;
    background-size:cover;
    opacity:1;
    top:0;
}

.maskImage{
    width:100%;
    height:100vh;
    position:absolute;
    background-position: center;
    background-size:cover;
    top:0;
}